
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin: 0 auto;
  position: relative; /* Важно: нужен для позиционирования .bacground */
}
.bacground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Градиент для мягкого перехода */
  background: linear-gradient(to bottom, #cce2ff, #ffffff);
  opacity: 0.8;
  z-index: -2;
}

/* Дополнительный слой с узором */
.bacground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Узор "шума" для текстуры */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIUlEQVQ4T2NkoBAwUBLwogwAAf88sEGwAQAA");
  opacity: 0.1;
  z-index: -1;
}

.menu-item{
  text-decoration: none;
  color: black;
}