
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin: 0 auto;
  background-image: url(./img/background.jpg);
  background-size: cover;
  max-height: 100%;
}

.header{
  padding: 40px;
  display: flex;
  align-items:center;
  justify-content: space-around;
}

.menu{
  display: flex;
  list-style: none;
  
}


.menu li {
  margin-left: 15px;
  cursor: pointer;
}

.img-logo{
  width: 130px;
  height: 130px;
  border-radius: 30px;
}